@import "tailwindcss";

*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

:root {
    --main-color: #c29f3c;
    --secondary: #7a5c07;
    --white: #fff;
    --dark: #22201c;
    --light: #e4e4e4;
    --grey: #5e5e5e;
    --status-error: #de4841;
    --status-inprogress: #ebbc46;
    --status-success: #66bd50;
    --spacing: 1px;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 40px;
    --text-5xl: 48px;
    --gradient-gold: 134deg, var(--secondary) 0%, var(--main-color) 100%;
    --base-color-background: #f1f1f1;
}